# Create a copy of this file and rename it to .env.server

# Create a new project in the Google Cloud Console and create OAuth 2.0 credentials
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

# Use your Supabase database URL
DATABASE_URL=

# Use your project URL from Supabase
SUPABASE_PROJECT_URL=
# Use your private key from Supabase
SUPABASE_KEY=
SUPABASE_CARDS_BUCKET=cards

# Use your Replicate API key
REPLICATE_API_KEY=

# Set the time in seconds after which stale or stuck jobs should be cleaned up
CLEANUP_AFTER_SECONDS=3600